<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PhotoBook Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-->
	<div class="header-top" id="home">
		<div class="container">
			<div class="head">
				<div class="header-left">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt="" /></a>
					</div>
				</div>
				<div class="header-right">
					<p>+11 235 813 2134</p>
				</div>
				<div class="clearfix"> </div>
				<div class="top-nav">
						<div class="nav-icon">
							<a href="#" class="right_bt" id="activator"><span> </span> </a>
						</div>
						 <div class="box" id="box">
							 <div class="box_content">        					                         
								<div class="box_content_center">
								 	<div class="form_content">
										<div class="menu_box_list">
											<ul>
												<li><a href="index.html" class="active"><span>Home</span></a></li>
												<li><a href="about.html"><span>About us</span></a></li>
												<li><a href="careers.html"><span>Careers</span></a></li>
												<li><a href="404.html"><span>Help</span></a></li>
												<li><a href="blog.html"><span>Blog</span></a></li>
												<li><a href="contact.html"><span>Contact</span></a></li>
												<div class="clearfix"> </div>
											</ul>
										</div>
										<a class="boxclose" id="boxclose"> <span> </span></a>
									</div>                                  
								</div> 	
							</div>  	  
						</div>
					<!---start-click-drop-down-menu----->
			        <!----start-dropdown--->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("500");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
					<!---//End-click-drop-down-menu----->
					<!--top-nav---->
				</div>
				<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
						</form>
					</div>
			</div>
		</div>
	</div>
	<!--//header-->
	<!--search-scripts-->
	<script src="js/uisearch.js"></script>
	<script src="js/classie.js"></script>	
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>
	<!--//search-scripts-->
	<!--banner-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<div class="jumbotron">
  					<h1>CREATE YOUR OWN PHOTOSTORY</h1>
  					<p>Make your photobook online</p>
  					<div class="banner-btn">
  						<a class="btn btn-primary btn-lg" href="#" role="button">make your photobook</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!--banner-->
	<!--services-->
	<div class="services">
		<div class="container">
			<div class="services-top">
				<div class="col-md-3 services-left">
					<img src="images/service-1.png" alt="" />
					<p>Download photos</p>
					<span class="s-one"> </span>
				</div>
				<div class="col-md-3 services-left">
					<img src="images/service-2.png" alt="" />
					<p>Design your photobook</p>
					<span class="s-two"> </span>
				</div>
				<div class="col-md-3 services-left">
					<img src="images/service-3.png" alt="" />
					<p>Pay for service</p>
					<span class="s-tre"> </span>
				</div>
				<div class="col-md-3 services-left">
					<img src="images/service-4.png" alt="" />
					<p>Get your photobook</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--services-->
	<!--advantage-->
	<div class="advantage">
		<div class="container">
			<div class="advantage-top">
				<h3><span>A</span>DVANTAGE</h3>
			</div>
			<div class="advantage-bottom">
				<div class="row">
  					<div class="col-md-4">
    					<div class="thumbnail">
      						<img src="images/ad-1.png" alt="" />
      							<div class="caption">
        	 						<h3>Import photos from</h3>
        					 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ora incidunt ut labore.</p>
         						</div>
    					</div>
  					</div>
  					<div class="col-md-4">
    					<div class="thumbnail">
      						<img src="images/ad-2.png" alt="" />
      							<div class="caption">
        	 						<h3>Photo editing</h3>
        					 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ora incidunt ut labore.</p>
         						</div>
    					</div>
  					</div>
  					<div class="col-md-4">
    					<div class="thumbnail">
      						<img src="images/ad-3.png" alt="" />
      							<div class="caption">
        	 						<h3>Templates</h3>
        					 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing. Ut enim ad minim, nostrud exercitation ullamco laboris nisi ut aliquip ex commodo.</p>
         						</div>
    					</div>
  					</div>
  					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="ad-btn">
				<a href="#">make your photobook</a>
			</div>
		</div>
	</div>
	<!--advantage-->
	<!--solutions-->
	<div class="solutions">
		<div class="container">
			<div class="solutions-top">
				<h3><span>R</span>EADY SOLUTIONS</h3>
			</div>
			<div class="solutions-bottom">
				<div class="col-md-4 solutions-left">
					<div class="solution-one">
						<h4><span>L</span>ight<span>B</span>ook</h4>
						<div class="s-bottom">
							<ul>
								<li><img src="images/correct.png" alt="" /> <p>15×10 cm</p></li>
								<li><img src="images/correct.png" alt="" /> <p>12 pages</p></li>
								<li><img src="images/correct.png" alt="" /> <p>binding on the clip</p></li>
							</ul>
							<h5><img src="images/dolor.png" class="dolor" alt="" />129</h5>
						</div>
						<div class="s-btn">
							<a href="#">Make your LightBook</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 solutions-left">
					<label> </label>
					<div class="solution-one">
						<h4><span>C</span>lassic<span>B</span>ook</h4>
						<div class="s-bottom">
							<ul>
								<li><img src="images/correct.png" alt="" /> <p>15×10 cm</p></li>
								<li><img src="images/correct.png" alt="" /> <p>12 pages</p></li>
								<li><img src="images/correct.png" alt="" /> <p>binding on the clip</p></li>
							</ul>
							<h5><img src="images/dolor.png" class="dolor" alt="" />239</h5>
						</div>
						<div class="s-btn">
							<a href="#">Make your LightBook</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 solutions-left">
					<div class="solution-one">
						<h4><span>P</span>remium<span>B</span>ook</h4>
						<div class="s-bottom">
							<ul>
								<li><img src="images/correct.png" alt="" /> <p>15×10 cm</p></li>
								<li><img src="images/correct.png" alt="" /> <p>12 pages</p></li>
								<li><img src="images/correct.png" alt="" /> <p>binding on the clip</p></li>
							</ul>
							<h5><img src="images/dolor.png" class="dolor" alt="" />759</h5>
						</div>
						<div class="s-btn">
							<a href="#">Make your LightBook</a>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--solutions-->
	<!--testimonials-->
	<div class="testimonials">
		<div class="container">
			<div class="testimonials-top">
				<h3><span>T</span>estimonials</h3>
			</div>
			<div class="testimonials-bottom">
				<img src="images/test-1.png" alt="" />
				<div class="test-text">
					<h4>John Doe</h4>
					<p>Wedding photographer</p>
				</div>
				<div class="test-btm">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>				
					<div class="next">
						<a href="#">Next testimonial</a>
					</div>				
				</div>	
				<div class="t-btn">
					<a href="#">make your photobook</a>
				</div>		
			</div>
		</div>
	</div>
	<!--testimonials-->
	<!--terms-->
	<div class="terms">
		<div class="container">
			<div class="terms-top">
				<div class="col-md-4 terms-left">
					<div class="term-one">
						<h4>Terms</h4>
						<div class="term-bottom">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
						</div>	
					</div>
				</div>
				<div class="col-md-4 terms-left">
					<div class="term-one">
						<h4>PAYMENT</h4>
						<div class="term-bottom">
							<p>Payment methods:</p>
							<ul>
								<li><p><a href="#">VISA </a></p></li>
								<li><p><a href="#">MasterCard</a></p></li>
								<li><p><a href="#">PayPal</a></p></li>
								<li><p><a href="#">American Express</a></p></li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-md-4 terms-left">
					<div class="term-one">
						<h4>SHIPPING</h4>
						<div class="term-bottom">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<h5>Free shipping for PremiumBook</h5>						
						</div>	
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="ad-btn term-btn">
				<a href="#">make your photobook</a>
			</div>
		</div>
	</div>
	<!--terms-->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-8 footer-left">
					<div class="col-md-4 footer-one">
						<ul>
							<li><a href="about.html">About us</a></li>
							<li><a href="careers.html">Careers</a></li>
							<li><a href="404.html">Help</a></li>
							<li><a href="blog.html">Blog</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-one">
						<ul>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-one">
						<ul>
							<li><a href="#">LIGHTBOOK</a></li>
							<li><a href="#">CLASSICBOOK</a></li>
							<li><a href="#">PREMIUMBOOK</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-right">
					<div class="footer-two">
						<ul>
							<li><a href="#"><span class="fb"></span></a></li>
							<li><a href="#"><span class="b"></span></a></li>
							<li><a href="#"><span class="cam"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="footer-bottom">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--footer-->
</body>
</html>